.action {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.action .btn-action:not(:last-child) {
  margin-right: 10px;
}

.btn-action {
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex: 1;
}

.btn-action i {
  margin-right: 5px;
  font-size: 16px;
}

.btn-action:focus {
  outline: none;

}

.btn-action:hover {
  background-color: #d0d0d0;
}