body {
  margin: 0;
  padding: 0;
}

.library-manager {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
}

.info-all {
  display: flex;
  flex: 2;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 10px;
  height: 100vh;
  overflow: scroll;
}

.info-all::-webkit-scrollbar {
  display: none;
}